@media screen and (max-width: 600px) {
  .row{ 
    display: flex; 
    flex-direction: column;
  }
  .col-12{ width: 100%; }
  .col-6{ width: 100%; }
  .col-4{ width: 100%; }
  .col-3{ width: 100%; }
  .col-2{ width: 100%; }

  .nav-menu, .nav-icon{
    display: none;
  }
  .banner-card{
    background-color: #FFF3E3;
    border-radius: 10px;
    width: 100%;
    padding: 40px;
  }
  .banner-card-heading{
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .banner-card-para{
    display: none;
  }
}