*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.my-div{
  width: 100%;
  height: 100vh;
  background-image: url('https://c4.wallpaperflare.com/wallpaper/586/603/742/minimalism-4k-for-mac-desktop-wallpaper-preview.jpg'), url('https://c4.wallpaperflare.com/wallpaper/448/174/357/neon-4k-hd-best-for-desktop-wallpaper-thumb.jpg');
  background-repeat: no-repeat, no-repeat;
  background-size: 500px, 500px;
  background-position: left top, right bottom;
}