*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.my-div{
  width: 200px;
  height: 200px;
  border: 50px solid green;
  background-color: rgba(255, 0, 0, 0.3);
  padding: 50px;
  margin: 50px;
  box-sizing: content-box;
}